# Data files
*.csv
*.xlsx
*.xls
*.pdf
*.json
*.parquet
*.feather
*.h5
*.db
*.sqlite
*.zip
*.tar.gz
*.7z

# Folders
logs/
input/
output/
files/
venv/

# Also catch any files inside subfolders
logs/**
input/**
output/**
files/**
venv/**
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
